:root {
  --color-dwblue: #3559E5;
  --color-dwblue-light: #5E85A6;
  --color-dwbrown: #472C2D;

  --color-sad: #94A8F8;
  --color-happy: #FFC8D9;
  --color-confused: #F5D16E;
  --color-angry: #F4866B;
  --color-anxious: #BEA4D2;
  --color-hurt: #86B199;
}